<footer class="text-muted py-5 mt-5" style="background-color: #f3e9f1 !important;">
    <div class="container">
        <p>Bacon ipsum dolor amet picanha tongue boudin bresaola, bacon turducken tenderloin drumstick shankle. Kielbasa
            frankfurter t-bone pork belly rump ball tip. Chuck rump short loin corned beef turducken short ribs pork
            loin kevin ball
            tip, tenderloin burgdoggen biltong pork chop jerky bacon. Rump leberkas porchetta bresaola sausage.
            Turducken tail
            tongue, flank capicola pork chislic. Ground round buffalo beef pork chop brisket.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>