<body>
<header class="mb-5">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #f3e9f1 !important;">
        <div class="container">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/categorie/cameras">Caméra</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand" href="/">
                    <img src="../images/logo.png" height="30" class="d-inline-block align-top" alt="Orinoco">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/panier">Panier <span id="cartitems"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>